/* Universal CSS */
*{
    margin: auto 0px;
    box-sizing: border-box;
    font-style: italic;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.head{
    height: 6%;
    position: relative;
    top: 0%;
    background-color: red;
    z-index: 1;
}


.foot{
 height: 7%;
 width: inherit;
 position: fixed;
 bottom: 0;
 background-color: black;
 padding-top: 20px;
 z-index: 1;
}
.foot p{
    color: white;
    float: left;
}
.foot img{
    float: right;
    margin-left: 10px;
}
.header a {
    float: left;
    margin: 0px 15px;
    padding: 20px;
}
.header-right{
    float: right;
}
a, a:visited{
    color: white;
    text-decoration: none;
}



/* SignUp CSS */
.signForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 40vh;
    text-align: right;
    font-size: 18px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px 3px grey;
}

.signForm>input{
    width: 30vh;
    margin-top:2.5vh;
}

.SignMain{
    height: 76%;
    width: inherit;
}
.form-group{
    margin-top: 15px;
}
.form-group button{
margin-right: 55px;
margin-top: 2px;
border-radius: 5px;
background-color: red;
padding: 5px;
color: white;
}
.login .signForm{
    height: 20vh;
}
.signForm  a{
    color: red;
}
/* Landing CSS */
.homeContent{
    margin: 0 auto;
    min-width: 100vw;
    border: solid white;
}
.homeContent h1{
    font-size: 65px;
    color:red;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

.slideshow-container {
    max-width: 85vw;
    min-height: 30vh;
    position: relative;
    margin: auto;
    
  }
  .homeContent img{
    height: 60vh;
  }

  .mySlides {
    display: none;
  }
  
 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/* Menu CSS */
.menu{
    margin: 0px auto;
}
.top h2{
    font-size: medium;
    color:red;
    font-style: italic;
    text-align: center;
}
.top h3{
    color:red;
    font-style: italic;
    text-align: center;
}
.menuitem{
    padding: 2px;
    margin:5px;
    font-size: medium;
    color:red;
    font-style: italic;
    text-align: center;
    z-index: 0;
}

 .top h2{
    font-size: 50px;
    color: red;
    padding-top: 3px;
    font-style: italic;
    text-align: center;
}

.menucolumn
{
    float: left;
    width: 25%;
}
.menu::after{
    content: "";
    display: table;
    clear: both;
}
button{
    border-radius: 5px;
    background-color: red;
    padding: 5px;
    color: white;
}
#sumbit{
    border-radius: 5px;
    background-color: red;
    padding: 5px;
    color: white;
}
.row{
    display: flex;
    float: let;
    padding: 5px;
    align-content: center;
    
}
.row img{
    border: red solid ;
    height: 20vw;
}

.menu p{
    color: black;
}
/* Payment CSS */
#Payment {
    width: 100vw;
	min-height: 200px;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.paycon {
    margin: 125px;
    background: lightgray;
	width: 625px;
	min-height: fit-content;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
    border: solid;
    border-radius: 2%;
}




/* Receipt CSS */



/* Management CSS */
.mancon{
    margin: auto 0;
}

 .mancon h1{
    text-align: center;
 }




 /* Cart CSS */


 .shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    width: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}



.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

